<div class="row">
  <div class="col-sm-6">
    <p>
      <%= link_to contact.name, contact %>
      <% favourited = Favourite.find_by( contact: contact, user: current_user ) != nil %>
      <% btn_color = favourited ? "fa fa-star" : "fa fa-star-o" %>

      <%= link_to "", contact_favourites_path( contact ), method: :post, class: "btn-#{btn_color} btn-xs fa fa-star" %>
      <hr />
      <br />
  </div>
</div>
