<div class="row">
  <div class="col-sm-3">
    <p>
    <%= link_to contact.name, contact %>
    <% favourited = Favourite.find_by( contact: contact, user: current_user ) != nil %>
      <% btn_color = favourited ? "warning" : "default" %>

      <%= link_to "", contact_favourites_path( contact ), method: :post, class: "btn-#{btn_color} btn-xs fa fa-star" %>
      <hr />
      <br />
  </div>
  <div class="col-sm-3">
      <%= link_to "", edit_contact_path(contact.id), class: 'fa fa-pencil-square-o' %>
      <%= link_to "", contact_path(contact), method: :delete, data: { confirm: "Delete contact?" }, class: 'fa fa-trash-o' %>
    </p>
  </div>
</div>
